*.o
*.tar.gz
*.log
*.trs
*.rpm
*.deb
*~
*.gcda
*.gcno
*.gcov
*.exe
*.nupkg
.deps
.vscode
Makefile
autom4te.cache/
config.h
config.log
config.status
stamp-h1
Makefile.in
aclocal.m4
config.h.in
configure
depcomp
install-sh
missing
.dirstamp
compile
test-driver
fwup-key.priv
fwup-key.pub
/config.guess
/config.sub
/libtool
/ltmain.sh
/dl
/pkg_build
/build
/deps
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/pkg.m4
/src/fwup
/src/fwup.1
/tests/15M.bin
/tests/framing-helper
/tests/work
/tests/work-*.test
/tests/verify-syscalls
